<div class="sw_main" id="options-examples" style="margin-top:50px;margin-bottom: 20px;">
<!-- TOP START -->
  <!-- Nav START -->
  <div id="Z_TMAIL_SIDER_V2" class="sw_categorys_nav">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
      <div class="allcategorys">
        <h3 class="title-item-hd">
          <a href="javascript:void(0)container;">
            所有商品分类
          </a>

        </h3>
        <ul class="sublist">
          <li>
          <h3 class="mcate-item-hd">
            <span>服饰内衣</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">女装</a>
          <a href="#">男装</a>
        <a href="#">内衣</a>
        <a href="#">家居服</a>
        <a href="#">配件</a>
        <a href="#">呢大衣</a>
        </p>
        </li>
        <li>
        <h3 class="mcate-item-hd">
          <span>鞋 箱包</span>
        </h3>
        <p class="mcate-item-bd">
        <a href="#">女鞋</a>
        <a href="#">配件男鞋</a>
        <a href="#">箱包</a>
        <a href="#">女包</a>
          <a href="#">男包</a>
          <a href="#">旅行箱</a>

          <a href="#">钱包 </a>
          </p>
          </li>
          <li>

          <h3 class="mcate-item-hd">
            <span>珠宝、手表</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">呢大衣饰品</a>
          <a href="#">项链</a>
          <a href="#">珠宝</a>
            <a href="#">钻石</a>
            <a href="#">手表</a>
            </p>
            </li>
            <li>
            <h3 class="mcate-item-hd">
              <span>化妆品</span>
            </h3>
            <p class="mcate-itemem-bd">
            <a href="#">护肤</a>
            <a href="#">彩妆</a>
            <a href="#">香水</a>
            <a href="#">男士</a>
            <a href="#">精油</a>
            <a href="#">假发</a>
            <a href="#">美体</a>
            <a href="#">试用服务</a>
            </p>
            </li>
            <li>
            <h3 class="mcate-item-hd">
              <span>运动 户外</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">运动鞋</a>
          <a href="#">运动服</a>

          <a href="#">运动用品</a>
          <a href="#">户外</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>手机 数码</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">手机</a>
          <a href="#">相机</a>
          <a href="#">配件</a>
          <a href="#">电脑硬件</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>家用电器</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">大家电</a>
          <a href="#">影音电器</a>
          <a href="#">生活电器</a>
          <a href="#">厨房电器</a>
          <a href="#">健康护理</a>
          <a href="#">剃须刀</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>家具 建材</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">卫浴</a>
          <a href="#">地板</a>

          <a href="#">灯具</a>
          <a href="#">五金</a>
          <a href="#">开关</a>
          <a href="#">装修设计</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>家纺 居家</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">家纺</a>
          <a href="#">羽绒被</a>
          <a href="#">枕头</a>
            <a href="#">软饰</a>
            <a href="#">居家</a>
            <a href="#">厨房</a>
            </p>
            </li>
            <li>
            <h3 class="mcate-item-hd">
              <span>食品</span>
            </h3>
            <p class="mcate-item-bd">
            <a href="#">零食</a>
            <a href="#">进口</a>
            <a href="#">茶叶</a>
            <a href="#">冲饮</a>
          <a href="#">酒水</a>
          <a href="#">粮油</a>
          <a href="#">干货</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>医药保健</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">保健</a>
          <a href="#">滋补</a>
          <a href="#">蛋白粉</a>
          <a href="#">药品</a>
          <a href="#">计生</a>
          <a href="#">体检</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>母婴用品</span>
          </h3>
          <p class="mcate-item-bd">
          <a href="#">玩具</a>
          <a href="#">用品</a>
          <a href="#">童装</a>
          <a href="#">孕装</a>
          </p>
          </li>
          <li>
          <h3 class="mcate-item-hd">
            <span>汽车 配件</span>
            </h3>
            <p class="mcate-item-bd">
            <a href="#">新车</a>
            <a href="#">座垫</a>
            <a href="#">GPS</a>
            <a href="#">车衣</a>
            <a href="#">洗车机</a>
            <a href="#">水枪</a>
            </p>
            </li>
            <li>
            <h3 class="mcate-item-hd">
              <span>文化 玩乐</span>
            </h3>
            <p class="mcate-item-bd">
            <a href="#">电子凭证</a>
            <a href="#">乐器</a>
            <a href="#">旅游</a>
            <a href="#">鲜花</a>
            </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="span4">
          <%= form_tag products_path, method: :get, :class => "navbar-search pull-right" do %>
            <div class="field">
              <%= text_field_tag :search, params[:search], :placehold => "search",
                :class => "search-query" %>
              <a href="#" id="submit-link"><i style="right: 5px; top: 7px;" class="icon-search"></i></a>
              <input type="submit" value="search" name="commit" style="display: none">
            </div>
          <% end %>
      </div>
    </div>
      </div>
    </div>
    <!--  
    <div style="overflow: hidden;">
      <div class="sw_container">
        <div style="height: 2000px;"></div>
      </div>
    </div>
    -->
  </div>

  <script type="text/javascript">
    $('#Z_TMAIL_SIDER_V2').Z_TMAIL_SIDER_V2();
  </script>
