<div id="category_bar" class="category_bar" >
  <div class="title">
    <a>所有商品分类</a>
    <a class="pull-right" href='javascript:void(0)' id="open_all_collapse"><i class="icon-list"></i></a>
    <a class="pull-right" href='javascript:void(0)' id="close_all_collapse"><i class="icon-th"></i></a>
  </div>
  <div>

    <ul class="category_list">
      <li class="list-item0">
        <a  data-toggle="collapse" href="#item0">服装/内衣/配件</a>
        <div id="item0" class="collapse in">
          <p>
            <a href="http://www.jq-school.com">女装</a>
            <a href="http://www.jq-school.com">男装</a>
            <a href="http://www.schooljq-school.com">内衣</a>
            <a href="http://www.jq-school.com">呢大衣</a>
          </p>
          <p>
            <a href="http://www.jq-school.com">毛衣</a>
            <a href="http://www.jq-school.com">保暖</a>
            <a href="listhttp://www.jq-school.com">睡衣</a>
            <a href="http://www.jq-school.com">男羽绒</a>
            <a href="http://www.jq-school.com">男毛衣</a>
          </p>
        </div>
      </li>

      <li class="list-item1 alt">
        <a  data-toggle="collapse" href="#item1">鞋/箱包</a>
        <div id="item1" class="collapse in">
          <p>
            <a href="http://www.jq-school.com">女鞋</a>
            <a href="http://www.jq-school.com">男鞋</a>
            <a href="http://www.schooljq-school.com">雪地靴</a>
            <a href="http://www.jq-school.com">靴子</a>
          </p>
          <p>
            <a href="http://www.jq-school.com">箱包</a>
            <a href="http://www.jq-school.com">女包</a>
            <a href="listhttp://www.jq-school.com">男包</a>
            <a href="http://www.jq-school.com">拉杆箱</a>
            <a href="http://www.jq-school.com">钱包</a>
          </p>
        </div>
      </li>
      
      <li class="list-item2">
        <a  data-toggle="collapse" href="#item2">珠宝饰品/手表眼镜</a>
        <div id="item2" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">珠宝</a>
          <a href="http://www.jq-school.com">足金</a>
          <a href="http://www.schooljq-school.com">钻戒</a>
          <a href="http://www.jq-school.com">玉坠</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">手表</a>
          <a href="http://www.jq-school.com">饰品</a>
          <a href="listhttp://www.jq-school.com">毛衣链</a>
          <a href="http://www.jq-school.com">手链</a>
          <a href="http://www.jq-school.com">瑞士军刀</a>
          </p>
        </div>
      </li>

      <li class="list-item3 alt">
        <a  data-toggle="collapse" href="#item3">化妆品</a>
        <div id="item3" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">护肤</a>
          <a href="http://www.jq-school.com">假发</a>
          <a href="http://www.schooljq-school.com">香水</a>
          <a href="http://www.jq-school.com">彩妆</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">套装</a>
          <a href="http://www.jq-school.com">面膜</a>
          <a href="listhttp://www.jq-school.com">洁面</a>
          <a href="http://www.jq-school.com">眼霜</a>
          <a href="http://www.jq-school.com">BB霜</a>
          </p>
        </div>
      </li>

      <li class="list-item4">
        <a data-toggle="collapse" href="#item4">运动户外</a>
        <div id="item4" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">运动鞋</a>
          <a href="http://www.jq-schoolhool.com">运动服</a>
          <a href="http://www.jq-school.com">户外</a>
          <a href="http://www.jq-school.com">用品</a>
          <a href="http://www.jq-school.com">板鞋</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">跑步鞋</a>
          <a href="http://www.jq-school.com">羽绒服</a>
          <a href="http://www.jq-school.com">冲锋衣</a>
          <a href="http://jqwww.jq-school.com">跑步机</a>
          </p>
        </div>
      </li>

      <li class="list-item5 alt">
        <a data-toggle="collapse" href="#item5">手机数码</a>
        <div id="item5" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">手机</a>
          <a href="http://www.jq-school.com">相机</a>
          <a href="http://www.jq-schoolhoolol.com">笔记本</a>
          <a href="http://www.jq-school.com">平板</a>
          <a href="http://www.jq-school.com">硬件</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">配件</a>
          <a href="http://www.jq-school.com">视听</a>
          <a href="http://www.jq-school.com">移动存储</a>
          <a href="http://www.jq-school.com">台式机</a>
          </p>
        </div>
      </li>

      <li class="list-item6">
        <a data-toggle="collapse" href="#item6">家用电器</a>
        <div id="item6" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">大家电</a>
          <a href="http://www.jq-school.com">影音</a>
          <a href="http://www.jq-school.com">电视</a>
          <a href="http://www.jq-school.com">耳机</a>
          <a href="http://www.jq-school.com">厨房</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">生活电器</a>
          <a href="http://www.jq-school.controller_namem">取暖器</a>
          <a href="http://www.jq-school.com">个人护理/http保健</a>
          </p>
        </div>
      </li>


      <li class="list-item7 alt">
        <a data-toggle="collapse" href="#item7">家具建材</a>
        <div id="item7" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">灯具</a>
          <a href="http://www.jq-school.com">卫浴</a>
          <a href="http://www.jq-school.com">油漆</a>
          <a href="http://www.jq-school.com">开关</a>
          <a href="http://www.jq-STARTchool.com">地板</a>
          <a href="http://www.jq-school.com">墙纸</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">沙发</a>
          <a href="http://www.jq-school.configom">床</a>
          <a href="http://www.jq-school.com">衣柜</a>
          <a href="http://www.jq-school.com">床垫</a>
          <a href="http://www.schooljq-school.com">架类</a>
          </p>
        </div>
      </li>


      <li class="list-item8">
        <a data-toggle="collapse" href="#item8">家纺/居家</a>
        <div id="item8" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">四件套</a>
          <a href="http://www.jq-school.com">蚕丝被</a>
          <a href="http://www.jq-school.com">冬被</a>
          <a href="http://www.jq-school.com">枕头</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">厨房</a>
          <a href="http://www.jq-school.com">杯子</a>
          <a href="http://www.jq-schooljq.com">清洁</a>
          <a href="http://www.jq-school.com">收纳</a>
          <a href="http://www.jq-school.com">宠物</a>
          <a href="http:/schooljq/www.jq-school.com">居家</a>
          </p>
        </div>
      </li>

      <li class="list-item9 alt">
        <a data-toggle="collapse" href="#item9">母婴玩具</a>
        <div id="item9" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">奶粉</a>
          <a href="http://www.jq-school.com">尿裤</a>
          <a href="http://www.jq-school.com">童装</a>
          <a href="http://www.jq-schooll.com">孕产</a>
          <a href="http://www.jq-school.com">玩具</a>
          <a href="http://www.jq-school.com">车床</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">辅食</a>
          <a href="http://www.jq-school.com">用品</a>
          <a href="http://www.jq-school.com">童鞋</a>
          <a href="http://www.jq-school.com">月子</a>
          <a href="http://www.jq-school.clearom">大人玩乐</a>
          </p>
        </div>
      </li>

      <li class="list-item10">
        <a data-toggle="collapse" href="#item10">食品</a>
        <div id="item10" class="collapse in">
        <p>
          <a href="http://www.jq-school.com">零食</a>
          <a href="http://www.jq-school.com">坚果</a>
          <a href="http://www.jq-school.com">茶叶</a>
          <a href="http://www.jq-school.com">冲饮</a>
          <a href="http://www.jq-school.com">粮油</a>
          <a href="http://www.jq-school.com">生鲜</a>
        </p>
        <p>
          <a href="http://www.jq-school.com">酒水</a>
          <a href="http://www.jq-school.com">白酒</a>
          <a href="http://www.jq-school.com">href葡萄酒</a>
          <a href="http://www.jq-school.com">巧克力</a>
          <a href="http://www.jq-school.com">进口</a>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="Z_SubList">
    <div class="hide">1、服装/内衣/配件</div>
    <div class="hide">2、鞋/箱包</div>
    <div class="hide">3、珠宝饰品/手表眼睛</div>
    <div class="hide">4、化妆品</div>
    <div class="hide">5、运动户外</div>
    <div class="hide">6、手机数码</div>
    <div class="hide">7、家用电器</div>
    <div class="hide">8、家具建材</div>
    <div class="hide">9、家纺/居家</div>
    <div class="hide">10、母婴玩具</div>
  </div>
</div>
<script>
$('#close_all_collapse').click(function(){
  $(".collapse").collapse('hide');
  $(this).removeAttr('href');
  $('#open_all_collapse').attr("href", "javascript:void(0)");
});

$('#open_all_collapse').click(function(){
  $(".collapse").collapse('show');
  $(this).removeAttr('href');
  $('#close_all_collapse').attr("href", "javascript:void(0)");
});

$(function(){
  $(window).scroll(function(){
    if ($(window).scrollTop() > 500){
      $(".collapse").collapse('hide');
    }
    else{
      $(".collapse").collapse('show');
    }

  });
});

$(function(){
  $(".category_list").children("li").mouseover(function(){
//    alert($(this).offset().top);
    //    alert($(window).height());
    var thisLi = this;
    $(this).addClass("curr");
    showSubList(thisLi);
  });

  $(".category_list").children("li").mouseout(function(){
//    alert($(this).offset().top);
//    alert($(window).height());
    var thisLi = this;
    $(this).removeClass("curr");
    hideSubList(thisLi);
  });
});

function showSubList(thisLi) {
  $(thisLi).append('<s class="menuIcon"></s>');
  var menuIcon = $(thisLi).children(".menuIcon");
//  $(menuIcon).attr("top", "200px");

}

function hideSubList(thisLi) {
  $(thisLi).children(".menuIcon").remove();
}
</script>
