<div class="cart_title" style="margin-bottom: 50px;" >Your Cart</div>
<%= render 'cart', :cart => @cart %>
<div>
  <%= button_to "Checkout", new_order_path, :method => :get, :class => "btn pull-right checkout_btn" %>
  <%= button_to 'Empty cart', @cart, :method => :delete, :class => "btn pull-right",
    :confirm => 'Are you sure?' %>
</div>
<div class="pull-right" style="clear: both; margin-top:10px;"><h3><%= link_to 'continue shopping', root_path %></h3></div>
