// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub_category{
  margin-left: 40px;
}

.sub_sub_category{
  margin-left: 60px;
}

.add_sub_category_icon{
  margin-right: 5px;
}

.add_sub_sub_category a{
  margin-left: 15px;
}

.add_sub_sub_category{
  margin-bottom: 10px;
}

.sub_category_node .icon-folder-open{
}

.submit_category_form{
  margin-top: 20px;
}

.edit_category_link{
  display: inline !important;
}
