// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_box{
  width: 200px;
  height: 330px;
  border: 1px solid #CCC;
  margin-top: 5px;
  margin-right: 2px;
  float: left;
}

.photo{
  margin-bottom: 5px;
}

.photo img{
  width: 200px;
  height: 200px;
}

.price{
  margin-bottom: 5px;
}

.price span{
  color: red;
}
