.header-right-top a, .header-right-top span{
  font-size: 12px!important;
}

.header{
  height: 85px;
  background-color: #eee; 
  padding-left: 120px;
}

.header_content{
  width: 1100px;
  height: 65px;
  padding-bottom: 20px;
}

.logo{
  float: left;
  width: 180px;
  padding-top:25px;
}

.logo h2 a{
  font-style: bolder;
  color: #333!important;
  text-decoration: none;
}
.header-right{
  float: right;
  width: 800px;
  margin-right: -10px;
}
.header-right-top{
  height: 20px;
  width: 800px;
}

ul.nav_admin, ul.nav_admin li{
  display: inline!important;
  list-style: none;
}

ul.nav_admin > li, .header-right-top > a{
  margin-left: 20px;
  float: right;
}

.header-right-top > a, ul.nav_admin > li.dropdown > a{
  text-decoration: none!important;
}

ul.dropdown-menu > li > a{
  color: #444;
  text-align: left;
}

.header-right-bottom{
  padding-top:20px;
  width: 800px;
}

.header-right-bottom form input#search{
  height: 20px!important;
  width:500px;
  line-height: 25px;
}
input.search_btn{
  height: 34px!important;
  margin-top: -9px;
  margin-left: -5px;
}
.header-right-bottom{
  padding-top:20px;
}

.header-right-bottom form input#search{
  height: 25px!important;
  width:500px;
  line-height: 25px;
}
input.search_btn{
  height: 25px;
}
.header-right-bottom form{
  width: 600px;
  float: right;
  margin-right: -15px!important;
}

.header-right-top > span, .header-right-top > span > a{
  margin-right: 20px;
}
.header-right ul{
  margin-left: 0px!important; 
  margin-bottom: 0px !important;
}

.footer_links{
  margin-top: 30px;
  text-align: center;
}

.footer_links a{
  color: #555;
  font-size: 12px;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid #ccc;
}

.copyright{
  text-align: center;
  margin-top: 30px;
  color: #555;
  font-size: 12px;
}

.welcome{
  margin-top:30px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.constant_text_input textarea{
  width: 900px;
}
