<div class="tree well">
  <ul role="tree">
    <li class="parent_li" role="treeitem">
      <span title="Collapse this branch">
        <i class="icon-folder-open"></i>
        <%= category.name %>
      </span>
      <%= link_to '编辑', edit_category_path(category), :class => "edit_category_link" %>
    </li>
  </ul>
</div>
