== render 'stylesheet'
h1 Editing category

== render 'form'

= link_to 'Show', @category
= '|'
= link_to 'Back', categories_path


javascript:
  $(function(){
     $('.category_node').click(function(){
        $('.sub_category').toggle('fast');
     });

     $(document).on("click", ".sub_category_node", function(){
        thisNode = this;
        $(thisNode).parents(".sub_category").children('.sub_sub_categories').toggle('fast');
     });
   });
